/***Contact***/

body {
    /*overflow: hidden;*/
}

div#main-wrapper {
    overflow: hidden;
}

.footer,
main {
    transform: translateZ(0);
    -moz-transform: translateZ(0);
    -webkit-transform: translateZ(0);
}

.header-sm {
    display: none;
}

.ip-banner::before {
    background: rgba(0, 0, 0, .05);
}

.ip-banner::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../images/contact/contact-banner-fade.png') center top repeat-x;
    background-size: cover;
}

.custom-breadcrumbs {
    position: absolute;
    z-index: 4;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 46, 51, .7);
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 300;
    letter-spacing: 0.050em;
    padding: 10px 0;
}

.custom-breadcrumbs span {
    font-size: 11px;
    display: inline-block;
}

.custom-breadcrumbs .breadcrumb_last {
    font-weight: 600;
}

.custom-breadcrumbs .container {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0%, 0%);
}

#contact-wrap .custom-breadcrumbs {
    display: none;
}

#inner-page-wrapper {
    margin-bottom: 0;
}

div#inner-page-wrapper > .container {
    width: 100%;
    padding: 0;
}

#contact-content {}

.contact-top-content-wrap {
    font-size: 0;
    position: relative;
}

.contact-top-col {
    display: inline-block;
    vertical-align: top;
}

.contact-top-col.left {
    width: 55.12%;
    background-image: url('../../images/contact/ip-contact-form-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 110px 4.7% 63px 8.34%;
}

.contact-left-wrap {
    max-width: 590px;
}


/*
				.contact-heading {

					max-width: 437px;

				}

					.contact-heading img {

						max-width: 100%;

						margin-right: 29px;

					}

					.contact-heading span {

						font-family: 'Termina';

						font-size: 54px;

						font-weight: 400;

						color: #fff;

						text-transform: uppercase;

					}

					.contact-heading div {

						position: relative;

						font-family: 'Spartan';

						font-size: 28px;

						font-weight: 400;

						color: #fff;

						text-transform: uppercase;

						text-align: right;

						margin-top: 13px;

						letter-spacing: 4px;

					}

					.contact-heading div::before {

						content: "";

						position: absolute;

						top: 50%;

						left: 0;

						transform: translateY(-50%);

						width: 82.38%;

						height: 3px;

						background-color: #f7c1b9;

						pointer-events: none;

					}
*/

.contact-form-excerpt {
    font-family: 'Spartan';
    font-size: 16px;
    font-weight: 300;
    color: #e3e3e3;
    line-height: 24px;
    margin-top: 48px;
    padding-right: 70px;
}

.contact-form-wrap {
    position: relative;
    margin-top: 32px;
}

.contact-form-wrap span.wpcf7-not-valid-tip {
    font-size: 12px;
    width: 170px;
    margin: 24px 0;
}

.contact-form-wrap .wpcf7-response-output {
    /* position: absolute; */
    width: 100%;
    margin: 0 !important;
    font-size: 12px;
    color: #fff;
    text-align: center;
    padding: 7px !important;
    top: 100%;
}

.contact-input-container {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin-bottom: 27px;
}

.contact-input-container.contact-fname,
.contact-input-container.contact-phone,
.contact-input-container.contact-mobile {
    padding-right: 18px;
}

.contact-input-container.contact-lname,
.contact-input-container.contact-email,
.contact-input-container.contact-address {
    padding-left: 18px;
}

.contact-input-container.contact-access,
.contact-input-container.contact-message {
    width: 100%;
}

.contact-input-container.contact-message {
    margin-top: 27px;
}

.contact-input-container input {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: none;
    font-family: 'Spartan';
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    display: block;
    width: 100%;
    height: 75px;
    line-height: 1.5;
    border-bottom: 1px solid #b5b5b5;
    background-color: transparent;
    line-height: normal;
}

.contact-input-container select,
.contact-input-container textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: none;
    font-family: 'Spartan';
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    display: block;
    width: 100%;
    height: 75px;
    border-bottom: 1px solid #b5b5b5;
    background-color: transparent;
    line-height: normal;
}

.contact-input-container input::placeholder,
.contact-input-container select,
.contact-input-container textarea::placeholder {
    text-transform: uppercase;
}

.contact-input-container select {
    background-image: url('../../images/contact/ip-contact-dropdown-icon.png');
    background-size: 10px 6px;
    background-repeat: no-repeat;
    background-position: center right 20px;
}

.contact-input-container select option {
    color: #000;
}

.contact-input-container textarea {
    resize: none;
    height: 106px;
}

.contact-checkbox-container.contact-subscribe,
.contact-checkbox-container.contact-agree {
    margin-top: 3px;
}

.contact-checkbox-container.contact-subscribe input,
.contact-checkbox-container.contact-agree input {
    display: inline-block;
    vertical-align: middle;
    outline: none;
    border: none;
    width: 28px;
    height: 28px;
    margin-top: 0;
    margin-right: 18px;
    cursor: pointer;
}

.contact-checkbox-container.contact-subscribe .wpcf7-list-item-label,
.contact-checkbox-container.contact-agree .wpcf7-list-item-label {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Spartan';
    font-size: 12px;
    font-weight: 300;
    color: #e3e3e3;
}
.contact-checkbox-container.contact-agree .wpcf7-list-item-label a:hover {
    color: #fff;
}

.contact-checkbox-container.contact-agree {
    margin: 25px 0 0;
}
    .contact-checkbox-container.contact-agree label {
        display: flex;
        flex-flow: row wrap;
    }
    .contact-checkbox-container.contact-agree .wpcf7-list-item-label {
        width: calc(100% - 50px);
        line-height: 1.5;
    }

.contact-submit {
    margin: 49px auto 15px;
    position: relative;
    display: block;
    text-align: center;
    height: 100px;
}

.contact-submit input:hover {
    border: 2px solid #f5bbb3;
}

.contact-submit input {
    /* -webkit-appearance: none;

							-moz-appearance: none;

							outline: none;

							border: none;

							padding: 0;

							font-family: 'Termina';

							font-size: 15px;

							font-weight: 700;

							color: #fff;

							text-align: right;

							width: 100%;

							height: 29px;

							text-transform: uppercase;

							background-color: transparent;

							background-image: url('../../images/contact/ip-contact-submit-icon.png');

							background-size: contain;

							background-position: left center;

							background-repeat: no-repeat;

							transition: all .4s ease-in-out; */
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #2D5548;
    text-transform: uppercase;
    border: 0 none;
    display: inline-block;
    padding: 22px 40px;
    font-family: 'Termina';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact-submit input:hover {
    opacity: .7;
}

.contact-form-disclaimer {
    font-family: 'Spartan';
    font-size: 12px;
    font-weight: 300;
    color: #e3e3e3;
    line-height: 24px;
    text-align: center;
    margin-top: 40px;
    padding: 0 17px;
}

.contact-top-col.right {
    position: relative;
    width: 44.87%;
    background-image: url('../../images/contact/ip-contact-right-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 64px 0 92px;
    min-height: 1181px;
    z-index: 1;
}

.contact-top-col.right::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 66px;
    height: 500px;
    background-color: #014046;
    pointer-events: none;
    z-index: -1;
}

.contact-team-photo {
    position: relative;
    margin-left: -10.42%;
}

.contact-team-photo img {
    max-width: 100%;
    width: 100%;
}

.contact-team-photo-logo-overlay {
    position: absolute;
    bottom: -65px;
    left: 50%;
    transform: translateX(-50%);
    width: 253px;
    height: 253px;
    padding: 48px 0;
    background-color: #00de81;
    text-align: center;
}

.contact-team-photo-logo-overlay img {
    max-width: 100%;
    /*width: auto;*/
    width: 163px;
}

.contact-address-wrap {
    text-align: center;
    padding-top: 125px;
    padding-right: 66px;
}

.contact-address-col {
    display: inline-block;
    vertical-align: top;
    margin: 0 35px;
}

.contact-address-item {
    text-align: center;
}

.contact-address-item-heading {
    font-family: 'Spartan';
    font-size: 16px;
    font-weight: 700;
    color: #0d494f;
    text-transform: uppercase;
    margin-bottom: 11px;
}

.contact-address-item-details,
.contact-address-item-phone a,
.contact-address-item-email a {
    font-family: 'Spartan';
    font-size: 13px;
    font-weight: 300;
    color: #0d494f;
    line-height: 19px;
    letter-spacing: 1px;
}

.contact-address-item-email a:hover {
    opacity: .8;
}

.contact-smi-wrap {
    text-align: center;
    margin-top: 38px;
    padding-right: 66px;
}

.contact-smi-wrap a {
    display: inline-block;
    vertical-align: top;
    margin: 0 18px;
}

.contact-smi-wrap a span {
    font-size: 30px;
    color: #dac2a8;
}

.contact-smi-wrap a:hover {
    opacity: .8;
}

.contact-map-wrapper {
    font-size: 0;
    position: relative;
}

.contact-map-col {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

.contact-map-col:first-child:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background-color: #014046;
    opacity: .4;
    pointer-events: none;
}

.contact-map-item {
    position: relative;
}

.contact-map-item canvas {
    display: block;
    width: 100%;
    background-size: cover;
    background-position: bottom left;
    background-repeat: no-repeat;
}

.contact-map-item-marker {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.contact-map-item-marker img {
    max-width: 100%;
    margin-bottom: 20px;
}

.contact-map-item-marker div {
    font-family: 'Spartan';
    font-size: 20px;
    font-weight: 700;
    color: #1b666d;
    text-transform: uppercase;
}

#content-full {
    margin-top: 0px;
}

.footer-git {
    display: none;
}

.contact-smi-wrap .ig-sub {
    display: inline-block;
    position: relative;
}

.contact-smi-wrap span.ig {
    display: inline-block;
    vertical-align: top;
    margin: 0 18px;
    font-size: 30px;
    color: #dac2a8;
    cursor: pointer;
}

.contact-smi-wrap span.ig:hover {
    opacity: .8;
}

/*.contact-smi-wrap ul {
    display: none;
    position: absolute;
    min-width: 180px;
    width: 100%;
    left: -150%;
    right: -150%;
    top: 100%;
    margin: 0 auto;
    padding: 0 0 0 10px;
}*/

.contact-smi-wrap .ig-sub:hover ul {
    display: block;
}

.contact-smi-wrap ul li a {
    color: #fff;
    font-size: 13px;
    background: #014046;
    text-align: center;
    display: block;
    padding: 10px 5px;
    margin: 0 0;
}

.contact-smi-wrap ul li a:hover {
    background: #fff;
    color: #014046;
}

.contact-smi-wrap ul {
        display: none;
        position: absolute;
        min-width: 180px;
        left: calc(100% - 15px);
        top: 0;
    }

div.wpcf7 .ajax-loader {
    position: absolute;
    right: -35px;
    top: 23px;
}

#contact-subscribe .wpcf7-list-item.last {
    display: none;
}

.abt-title {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    margin: 0 0 75px;
/*    padding: 90px 0 0;*/
}

.abt-title h1 {
    overflow: hidden;
    text-align: right;
}

.abt-title strong {
    display: block;
    font-size: 54px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    padding: 0 0 0 98px;
    background-size: 88px auto;
}

.abt-title span {
    font-size: 28px;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 0.010em;
    color: #fff;
    display: inline-block;
    margin: 10px 0 0;
    position: relative;
}

.abt-title span:after {
    content: '';
    display: block;
    height: 3px;
    width: 100vw;
    position: absolute;
    right: 105%;
    top: 0;
    bottom: 0;
    margin: auto 0;
    background: #f7c1b9;
}

.contact-input-container .wpcf7-form-control-wrap{
    display: block;
}

.page-template-template-contact [data-aios-reveal="true"], .page-template-template-contact [data-aios-staggered-child="true"] {
    opacity: 1;
}


#contact-agree .wpcf7-list-item.last {
    display: none;
}










@media only screen and (max-width: 1449px) {
    .contact-address-col {
        margin: 0 15px;
    }
}

@media only screen and (max-width: 1369px) {
    .contact-top-col.left {
        padding: 110px 5.7% 63px 4.34%;
    }
    .contact-address-col {
        margin: 0 5px;
    }
    .contact-address-item-heading {
        font-size: 14px;
    }
    .contact-address-item-details,
    .contact-address-item-phone a,
    .contact-address-item-email a {
        font-size: 12px;
    }
}

@media only screen and (max-width: 1199px) {
    .abt-title strong {
        font-size: 50px;
    }
    .abt-title span {
        font-size: 26px;
    }
    .contact-address-col {
        width: 100%;
    }
    .contact-address-col.right {
        margin-top: 20px;
    }
    .contact-address-wrap {
        padding-right: 30px;
    }
    .contact-address-item-details,
    .contact-address-item-phone a,
    .contact-address-item-email a {
        font-size: 10px;
    }
    .contact-top-col.right::after {
        width: 30px;
    }
    .contact-form-disclaimer {
        font-size: 12px;
    }
    .contact-smi-wrap ul {
        display: none;
        position: absolute;
        min-width: 180px;
        width: 100%;
        left: -150%;
        right: -150%;
        top: 100%;
        margin: 0 auto;
        padding: 0 0 0 10px;
    }
}

@media only screen and (max-width: 991px) {
    .abt-title {
        justify-content: center;
    }
    .abt-title strong {
        font-size: 47px;
        padding: 0 0 0 80px;
        background-size: 70px auto;
    }
    .contact-top-col.left {
        padding: 40px;
        width: 100%;
    }
    .contact-left-wrap {
        max-width: 100%;
    }
    /*
	.contact-heading {

		margin: 0 auto;

	}
*/
    .contact-top-col.right {
        width: 100%;
        min-height: auto;
    }
    .contact-team-photo {
        margin-left: 0;
    }
    .contact-team-photo-logo-overlay {
        position: relative;
        bottom: 0;
        left: 0;
        transform: none;
        margin: 40px auto 0;
    }
    .contact-address-wrap {
        padding: 0;
        margin-top: 40px;
    }
    .contact-address-col {
        display: block;
        margin: 20px 0;
    }
    .contact-smi-wrap {
        margin-top: 40px;
        padding-right: 0;
    }
    .contact-top-col.right::after {
        display: none;
    }
    .contact-map-item-marker div {
        font-size: 13px;
    }
    .contact-smi-wrap .ig-sub,
    .contact-smi-wrap a {
        margin: 10px 20px 0;
    }
    .contact-smi-wrap span.ig{
        margin: 0 0 0;
    }

    .contact-smi-wrap ul {
        left: -320%;
    }

}

@media only screen and (max-width: 767px) {
    /*
    .contact-heading span {
        font-size: 48px;
    }
*/
    .contact-form-excerpt {
        padding-right: 0;
    }
    .contact-map-col {
        width: 100%;
    }
    .contact-map-col:first-child:after {
        top: auto;
        bottom: 0;
        left: 0;
        right: auto;
        width: 100%;
        height: 2px;
    }
    .abt-title strong {
        font-size: 40px;
        padding: 0 0 0 70px;
        background-size: 60px auto;
    }
/*
    .abt-title span {
        font-size: 17px;
    }
*/
}

@media only screen and (max-width: 480px) {
    /*
    .contact-heading span {
        font-size: 21px;
    }
*/
    .contact-heading div::before {
        width: 74.38%;
    }
    .contact-input-container {
        width: 100%;
        padding: 0 !important;
    }
    .contact-checkbox-container.contact-subscribe .wpcf7-list-item-label,
    .contact-checkbox-container.contact-agree .wpcf7-list-item-label {
        font-size: 13px;
    }
    .contact-form-disclaimer {
        padding: 0;
        margin-top: 50px;
    }
    .contact-submit {
        margin: 49px auto 0;
    }

    .abt-title strong {
        font-size: 28px;
    }

    .abt-title span {
        font-size: 20px;
    }

    .contact-form-disclaimer.output-active {
        margin-top: 60px;
    }
    .contact-smi-wrap .ig-sub,
    .contact-smi-wrap a {
        margin: 10px 15px 0;
    }
    .contact-smi-wrap ul{
        left: auto;
        right: -25px;
        padding: 10px 0;
    }
}
