/***Our Numbers***/



.header-sm{

	display: none;

}

.ip-banner{

	overflow: hidden;

}

.ip-banner::before {

    background: rgba(0,0,0,.05);

}



.ip-banner::after {

	content:'';

	display: block;

	position: absolute;

	z-index: 2;

	top: 0;

	left: 0;

	width: 100%;

	height: 100%;

	background:url(../../images/relocation/reloc-banner-fade.png) center top repeat-x;

	background-size: cover;

}

.custom-breadcrumbs{

	position: absolute;

    z-index: 4;

    bottom: 0;

    left: 0;

    width: 100%;

    background: rgba(0,46,51,.7);

    color: #fff;

    text-transform: uppercase;

    font-size: 11px;

    font-weight: 300;

    letter-spacing: 0.050em;

    padding: 10px 0;

}

.custom-breadcrumbs span{

	font-size: 11px;

	display: inline-block;

}

.custom-breadcrumbs .breadcrumb_last{

	font-weight: 600;

}

.custom-breadcrumbs .container{

	position: relative;

    top: 0;

    left: 0;

    transform: translate(0%,0%);

}

#breadcrumbs{

	position: relative;

	z-index: 2;

}

#on-wrap{

	position: relative;

    padding: 0 0 77px;

    background:url(../../images/our-numbers/on-bg.jpg) center top no-repeat #fff;

    background-size: 100% auto;

}

#on-wrap .custom-breadcrumbs{

	display: none;

}

.on-wrapper{}

.on-top{

	background: url(../../images/list-with-us/on-top.html) center center no-repeat;

    background-size: cover;

    position: relative;

}

.on-title{

	display: flex;

    flex-flow: row wrap;

    align-items: center;

    justify-content: center;

    margin: 0 0 75px;

    padding: 90px 0 0;

}

.on-title h1{

	overflow: hidden;

    text-align: right;

}

.on-title strong{

	display: block;

    font-size: 60px;

    font-weight: 400;

    color: #014046;

    text-transform: uppercase;

    padding: 0 0 0 98px;

    background: url(../../images/palms-2.png) left center no-repeat;

    background-size: 88px auto;

}

.on-title span{

	font-size: 28px;

    line-height: 1.5;

    text-transform: uppercase;

    letter-spacing: 0.010em;

    color: #014046;

    display: inline-block;

    margin: 10px 0 0;

    position: relative;

}

.on-title span:after{

	content: '';

    display: block;

    height: 3px;

    width: 100vw;

    position: absolute;

    right: 105%;

    top: 0;

    bottom: 0;

    margin: auto 0;

    background: #f7c1b9;

}

.on-container{

	width:calc(100% - 30px);

	margin: 0 auto;

	max-width: 1468px;

	position: relative;

}



.on-subtext{

    font-size: 15px !important;

    font-weight: 500 !important;

    line-height: 23px;

    letter-spacing: 0.025em;

    text-align: center;

    margin: 0 auto 80px;

    max-width: 900px;

    font-size: 15px;
    font-weight: 300;
    color: #000000;
    line-height: 1.5;
    letter-spacing: 0.025em;
    text-align: center;
    font-family: 'Spartan', sans-serif;

    color: #000000;
    /*letter-spacing: 0.025em;*/
    letter-spacing: 0.05em;
    text-align: center;
    font-weight: 600;
    line-height: 23px !important;

}



.on-image{}

.on-image canvas{

    display: block;

    width:100%;

    height: auto;

    background: url(../../images/our-numbers/on-image.jpg) center center no-repeat;

    background-size: cover;

}



.on-stats{

    margin:-143px 0 0;

    position: relative;

}

.on-stats .stats-wrapper{

    width: calc(100% - 20px);

    margin: 0 auto;

    max-width: 1348px;

}

.on-stats .stats-row{

    color:#fff;

    display: flex;

    flex-flow: row wrap;

    align-items: flex-start;

    justify-content: space-between;

    text-align: center;

    margin: 9px 0 0;

}

.on-stats .stats-row:first-child{

    margin: 0 0 0;

}

.on-stats .stats-row .stats-single{

    background:url(../../images/our-numbers/on-stat-bg-d.jpg) center center no-repeat;

    background-size: cover;

    width: calc(25% - 4px);

    max-width: 330px;

    padding: 64px 10px;

    display: flex;

    flex-flow: column wrap;

    align-items: center;

    justify-content: center;

}

.on-stats .stats-row .stats-single:nth-child(even){

    background:url(../../images/our-numbers/on-stat-bg-l.jpg) center center no-repeat;

    background-size: cover;

}

.on-stats .stats-row:nth-child(even) .stats-single{

    background:url(../../images/our-numbers/on-stat-bg-l.jpg) center center no-repeat;

    background-size: cover;

}

.on-stats .stats-row:nth-child(even) .stats-single:nth-child(even){

    background:url(../../images/our-numbers/on-stat-bg-d.jpg) center center no-repeat;

    background-size: cover;

}

.on-stats .stats-row .stats-val{

    font-size: 75px;

    font-weight: 600;

    margin: 0 0 17px;

}

.on-stats .stats-row .stats-val span{

    display: block;

    font-size: 36px;

    text-transform: uppercase;

}

.on-stats .stats-row .stats-desc{

    font-size: 14px;

    letter-spacing: 0.025em;

    line-height: 25px;

    text-transform: uppercase;

    min-height: 75px;

}



.on-btns{

    font-size: 0;

    text-align: center;

    margin: 50px 0 0;

}

.on-btns > div{

    display: inline-block;

    vertical-align: middle;

    margin: 0 0 0 20px;

}

.on-btns > div:first-child{

    margin: 0 0 0 0;

}

.on-btns a{

    display: inline-block;

    margin: 0 0;

    border: 2px solid rgba(245,188,180,0);

    color: #014046;

    font-family: 'Termina';

    text-align: center;

    font-size: 14px;

    font-weight: 700;

    letter-spacing: 0.025em;

    text-transform: uppercase;

    padding: 15px 5px;

    transition: all ease .4s;

    -moz-transition: all ease .4s;

    -webkit-transition: all ease .4s;

}

.on-btns a span{

    display: inline-block;

    vertical-align: middle;

    background: url(../../images/palm-2.png) left center no-repeat;

    background-size: 22px auto;

    padding: 7px 0 7px 27px;

}



.on-btns a:hover{

    border: 2px solid rgba(245,188,180,1);

}

.stats-content {
	color: #daeedf;
}

.addtoany_content {
	display: none;
}



@media only screen and (max-width: 1440px) {

	

}



@media only screen and (max-width: 1366px) {

	

}



@media only screen and (max-width: 1199px) {

	.on-title strong{

        font-size: 50px;

    }

    .on-title span {

        font-size: 26px;

    }

    .on-stats .stats-row .stats-desc{

        line-height: 22px;

    }



}



@media only screen and (max-width: 991px) {

	.on-title strong {

        font-size: 37px;

        background-size: 70px auto;

        padding: 0 0 0 80px;

    }

    .on-title span {

        font-size: 24px;

    }

    .on-stats .stats-row{

        margin: 0 0 0;

    }

    .on-stats .stats-row .stats-single {

        width: calc(50% - 5px);

        max-width: none;

        margin: 9px 0 0;

    }

}



@media only screen and (max-width: 767px) {

	.on-title strong {

        font-size: 36px;

        background-size: 40px auto;

        padding: 0 0 0 50px;

    }

    .on-title span {

        font-size: 20px;

    }

    .on-stats {

        margin: 30px 0 0;

    }

    .on-stats .stats-row .stats-single{

        width: 100%;

    }

    .on-btns > div{

        display: block;

        margin: 20px 0 0;

    }

}



@media only screen and (max-width: 480px) {

	.on-title strong {

        font-size: 36px;

        background-size: 40px auto;

        padding: 0 0 0 50px;

    }

    .on-title span {

        font-size: 20px;

    }

    .on-btns a{

        font-size: 12px;

    }

}

@media only screen and (max-width: 320px) {

    .on-title strong {

        font-size: 36px;

        background-size: 60px auto;

        padding: 0 0 0 50px;

    }
}