.ip-banner,
p#breadcrumbs,
#content .entry-title, 
#content .archive-title,
.footer-git{
	display: none;
}

#inner-page-wrapper div#content-full, #inner-page-wrapper {
    margin: 0;
    min-height: unset;
}

#inner-page-wrapper > .container {
    width: 100%;
    padding: 0;
}

/*Main CSS*/
.ip-password-page {
    position: relative;
    background: url(../../images/password-protected/main-background.jpg) #fff no-repeat center center / cover;
    padding: 280px 0 35px;
    font-size: 0;
}

.ip-user-login {
    width: 100%;
    max-width: 570px;
    margin: 0 auto;
    padding: 56px 60px 68px;
    /* margin-bottom: 20px; */
    background: rgba(255,255,255,0.95);
}

.ip-user-login .head-title {
    font: 700 55px/1 'Spartan', sans-serif;
    color: transparent;
    letter-spacing: -0.01em;
    text-align: right;
    -webkit-text-stroke: 1px #333333;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* max-width: 340px; */
    margin: 0 auto 50px;
}

.ip-user-login > .form-input {
    margin-bottom: 15px;
}

.ip-user-login > .form-input input {
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    width: 100%;
    background: none;
    font: 300 13px 'Spartan', sans-serif;
    color: #000000;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    height: 40px;
    border-bottom: 1px solid rgba(0,0,0,0.85);
}

.ip-user-login .form-button {
    margin-top: 50px;
}

.ip-user-login .form-button input {
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    width: 100%;
    background: none;
    height: 60px;
    font: 400 17px 'Manrope', sans-serif;
    color: #ffffff;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background: #014046;
    transition: all 0.35s ease-in-out;
}

.ip-user-register {
    width: 100%;
    max-width: 570px;
    margin: 0 auto;
    padding: 56px 60px 68px;
    /* margin-bottom: 20px; */
    background: rgba(1,64,70,0.85);
}

.ip-user-register .head-title{
	font: 300 35px/1 'Spartan', sans-serif;
    color: #ffffff;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
}

#content .ip-user-register p{
	font: 300 13px/1.2 'Spartan', sans-serif;
    color: #ffffff;
    letter-spacing: 0.05em;
    margin: 6px 0 20px;
}

.ip-user-register .content-accordion input:not([type="submit"]) {
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    width: 100%;
    background: none;
    font: 300 13px 'Manrope', sans-serif;
    color: #ffffff;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    height: 40px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}

.ip-user-register .form-fields-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.form-fields-row:last-child {display: block;}

.ip-user-register .form-field {
    width: calc(50% - 15px);
}

.form-fields-row input[type="submit"] {
    width: 100%;
    /* max-width: 340px; */
    margin: 50px auto 0;
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    background: none;
    height: 60px;
    font: 400 17px 'Manrope', sans-serif;
    color: #000000;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background: #ffffff;
    transition: all 0.35s ease-in-out;
}

.ip-user-login .form-button input:hover,
.form-fields-row input[type="submit"]:hover{
	background: #f5bbb3;	
	color: #fff;
}

.ip-user-register .content-accordion{
	overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}


.ip-user-register .content-accordion.open {
    max-height: 1000px;
    transition: max-height 1s ease-in-out;
}

#content .ip-user-register div.wpcf7-response-output, .ip-user-register div.wpcf7-response-output {
    text-align: center;
    font-size: 10px;
    color: #fff;
}

#content .ip-user-register span.wpcf7-not-valid-tip {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    width: 80%;
    text-align: center;
    background: #fff;
    border: 1px solid red;
    transition: all 0.35s ease-in-out;
}
@media only screen and (max-width: 991px) {
    .ip-password-page{
        padding: 50px 0;
    }
}

@media only screen and (max-width: 600px) {
    .ip-user-login,
    .ip-user-register{
        max-width: 300px;
        padding: 30px;
    }

    .ip-user-login .head-title{
        font-size: 35px;
    }

    .ip-user-register .head-title{
        font-size: 25px;
    }

    .ip-user-register .form-fields-row{
        flex-direction: column;
    }

    .ip-user-register .form-field {
        width: 100%;
    }
}